.div1{
    
    width: 135px;
    height: 135px;
    padding: 5px;
    border:8px solid #000000;
    border-radius: 80px;
    text-align: center;
    font-size: 25px;
}
.p1{
    font-weight:bold;
}
.span1{
    color:rgb(250, 250, 250);
    font-weight:normal;
    background-color: blueviolet;
    border-radius: 7px;
    margin: 7px;
    padding: 3px;


}

main h2{
    background-color: aquamarine;
}